# Firebase
.firebase/
firebase-debug.log
firebase-debug.*.log
firestore-debug.log
pubsub-debug.log
ui-debug.log

# System files
.DS_Store
Thumbs.db

# Build output
dist/

# Node
node_modules/
npm-debug.log
